<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-text"><span>SUPER PLATFORM</span></span>
    <div class="navigation-links-container">
      <span class="navigation-links-text1"><span>3D Visualisation</span></span>
    </div>
    <div class="navigation-links-container1">
      <span class="navigation-links-text2">
        <span>บริหารจัดการข้อมูล</span>
      </span>
    </div>
    <div class="navigation-links-container2">
      <span class="navigation-links-text3">
        <span>ขออนุญาตปฏิบัติงาน</span>
      </span>
    </div>
    <div class="navigation-links-container3">
      <span class="navigation-links-text4">
        <span>บริการต่าง ๆ บนแพลตฟอร์ม</span>
      </span>
    </div>
    <div class="navigation-links-container4">
      <span class="navigation-links-text5"><span>ติดต่อเรา</span></span>
    </div>
  </nav>
</div>
